<table class="table table-striped">
<thead>
    <tr>
        <th>Id</th>
        <th ng-repeat="column in columns">
            <a ng-click="doSort(column)">{{column}}</a>
        </th>
    </tr>
    <tr>
        <th></th>
        <th ng-repeat="column in columns">
            <input type="text" ng-model="search[column]" class="form-control">
        </th>
    </tr>
</thead>
<tbody>
    <tr ng-repeat="row in rows | filter:search | orderBy:predicate:reverse">
        <td><a href="{{row.url}}" target="_blank">{{row.id}}</a></td>
        <td ng-repeat="column in columns">
            {{row[column]}}
        </td>
    </tr>
</tbody>
</table>
